<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <meta charset="UTF-8">
        <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
		<link rel="manifest" href="/fav/site.webmanifest">
		<link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href='css/normalize.css' rel='stylesheet' />
		<link href='css/dash.css' rel='stylesheet' />
    </head>
    <body>
        <div class="page page--dashboard">
           <aside class="page__aside aside vertical">
              <div class="aside__logo">
                Sidebar
              </div>
              <nav class="vertical vertical--small">
                <a href="#" class="nav-button nav-button--active click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/feature/icondash/home.svg')"></span>
                    <span class="nav-button__text">Home</span>
                </a>
                <a href="#" class="nav-button">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/feature/icondash/order.svg')"></span>
                    <span class="nav-button__text">Order</span>
                </a>
                <a href="#" class="nav-button">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/feature/icondash/products.svg')"></span>
                    <span class="nav-button__text">Products</span>
                </a>
              </nav>
           </aside>
           <header class="header">
            <div class="layout header__content">
                <div class="header__search">
                    <input type="text" class="field field--header" placeholder="Search">
                    <span class="icon header__icon-search click" style="background-image: url('/svg/feature/icondash/loop.svg')"></span>
                    <span class="icon header__icon-settings click" style="background-image: url('/svg/feature/icondash/search.svg')"></span>
                </div>
            
            <div class="icon header__icon--block">
                <span class="icon header__icon click" style="background-image: url('/svg/feature/icondash/anten.svg')"></span>
                <span class="icon header__icon click" style="background-image: url('/svg/feature/icondash/symbol.svg')"></span>
                <span class="icon header__icon click" style="background-image: url('/svg/feature/icondash/bell.svg')"></span>
            </div>
            </div>
           </header>
           <main class="main">
            <div class="layout">
               <section class="box analitic__block">
                <div class="analitic analitic--double analitic--purple vertical vertical--big">
                    <span class="icon icon__analitic" style="background-image: url(/svg/feature/icondash/cash.svg);"></span>
                    <div class="analitic__content vertical vertical--small">
                        <strong class="title title--light--bold">$500.00</strong>
                        <p class="text text--light--normal">Total earning</p>
                        <span class="icon icon__arrow click" style="background-image: url(/svg/feature/arrow.svg);"></span> 
                    </div>
                    </div>
                <div class="analitic analitic--double analitic--blue vertical vertical--big">
                    <span class="icon icon__analitic" style="background-image: url(/svg/feature/icondash/bag.svg);"></span>
                    <div class="analitic__content vertical vertical--small">
                        <strong class="title title--light--bold">$961</strong>
                        <p class="text text--light--normal">Total order</p>
                        
                    </div>
                </div>
                <div class="analitic horizontal analitic--blue">
                    <span class="icon icon__analitic" style="background-image: url(/svg/feature/icondash/cash.svg);"></span>
                    <div class="analitic__content vertical vertical--small">
                        <strong class="title title--light--bold">$203K</strong>
                        <p class="text text--light--normal">Total Income</p>
                        
                    </div>
                </div>
                <div class="analitic horizontal">
                    <span class="icon icon__analitic" style="background-image: url(/svg/feature/icondash/box.svg);"></span>
                    <div class="analitic__content vertical vertical--small">
                        <strong class="title title--dark--bold">$203K</strong>
                        <p class="text text--dark--normal">Total Income</p>
                         
                    </div>
                </div>
               </section>
               <div class="main--area">
                <section class="box purchase__list">
                    <div class="purchase__title">
                        <h3 class="title--dark--bold">Purchase List</h3>
                    </div>
                    <hr> 
                    <div class="user__info horizontal--info">
                        <div class="vertical vertical--small">
                            <p>ID437661</p>
                            <p>May 11, 2023, 14:21</p>
                        </div>
                        <div class="vertical vertical--small">
                            <p>AirOn ProCam</p>
                            <p>7/8 USB Type-C</p>

                        </div>
                        <div class="vertical vertical--small">
                            <p>132.32 EUR</p>
                            <p class="text--warning">Not paid</p>
                        </div>
                        <div class="vertical vertical--small">
                            <p>Customer</p>
                            <p>robin@com.de</p>
                        </div>
                    </div>
                    <hr>
                    <div class="user__info horizontal--info">
                        <div class="vertical vertical--small">
                            <p>ID437661</p>
                            <p>May 11, 2023, 14:21</p>
                        </div>
                        <div class="vertical vertical--small">
                            <p>PHILIPS Essential</p>
                            <p>HD9200/90</p>

                        </div>
                        <div class="vertical vertical--small">
                            <p>543 USD</p>
                            <p class="text--sucsess">Pay by  Stripe</p>
                        </div>
                        <div class="vertical vertical--small">
                            <p>Customer</p>
                            <p>dima@com.ua</p>
                        </div> 
                    </div>
                </section>
                <section class="box payment vertical--medium">
                    <div class="payment__title">
                        <h3 class=" title--dark--bold">Payment</h3>
                    </div>
                    <hr>
                    <div class="form__block">
                        <div class="form-check">
                        <input class="form-check-input" type="radio" value="option1" checked>
                        <label class="form-check-label" for="">
                            Credit card
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" value="option2">
                        <label class="form-check-label" for="">
                            Debit card
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" value="option3">
                        <label class="form-check-label" for="">
                            PayPal
                        </label>
                        </div>
                    </div>
                    <div class="field__input">
                        <div class="field__form">
                            <label class="">Name of card</label>
                            <input type="text" class="field">
                        </div>
                        <div class="field__form">
                            <label class="">Credit card numder</label>
                            <input type="text" class="field">
                        </div>
                        <div class="field__form">
                            <label class="">Expiration</label>
                            <input type="text" class="field">
                        </div>
                        <div class="field__form">
                            <label class="">CVV</label>
                            <input type="text" class="field">
                        </div>
                    </div>
                    <hr>
                    <div class="block__select">
                        <div class="select__form">
                            <label for="">Country</label>
                            <select class="form-select form-select-sm field" aria-label="Default select example">
                                <option selected>Choose</option>
                                <option value="1">Oklahoma</option>
                                <option value="2">Tooorindoo</option>
                                <option value="3">TimesSquere</option>
                            </select>
                        </div>
                        <div class="select__form">
                            <label for="">State</label>
                            <select class="form-select field" aria-label="Default select example">
                                <option selected>Choose</option>
                                <option value="1">Iova</option>
                                <option value="2">Maryland</option>
                                <option value="3">Texas</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <button class="button__payment click" type="submit">Continue to checkout</button>
                    
                </section>
               </div> 
            </div>
           </main>
        </div>
    </body>
</html>