{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}
<div class="row ">
    <div class="p-5 box">
        <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
        <p id="user" class="text-uppercase">uchanda sdaravilla</p>
        <h2>kondrat</h2>
        <div class="card my-5">
            <h2 class="text-center my-5" style="color:rgb(27, 49, 4)">coco jambo</h2>
        </div>
        <button type="button" class="btn btn-primary">Купити</button>
    </div>
    <div class=" card p-5 card-dark">
        <ul>
            <li class="item">item1</li>
            <li class="item">item2</li>
            <li class="item">item3</li>
            <li class="item">item4</li>
        </ul>
    </div>
    <div  class="card p-5 card-dark">
        <input class="input-dark-required" type="text">
        <input class="input-dark" type="text">
    </div>
</div>

<div>
    
</div>




{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}
