<!DOCTYPE html>
<html>

	<head>
		<title>
			slack page
		</title>
		<meta charset="UTF-8">

		<link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
		<link rel="manifest" href="/fav/site.webmanifest">
		<link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href='css/normalize.css' rel='stylesheet' />
		<link href='css/slack.css' rel='stylesheet' />
		
	</head>

	<body>
		<div class="page">
            <section class="page_section">
                <div class="page_content hero_section">
                   <div class="hero">
                        <div class="hero_content">
                            <span class="hero_label">Slack Features</span>
                            <h1 class="hero_title">One platform for your team and your work</h1>
                            <p class="hero_info">All the features of Slack work together so you can, too.</p>
                            <div class="hero_buttons">
                                <a href="#" class="button button_primary click">Try for free</a>
                                <a href="#" class="button button_secondary click">See all features</a>
                            </div>
                            <img src="/img/hero.png" alt="photo" class="hero_img">
                        </div>
                   </div>
                   
                   <div class="brands">
                    <img src="/img/brands/airbnb.png" alt="airbnb" class="brands_image">
                    <img src="/img/brands/intuit.png" alt="intuit" class="brands_image">
                    <img src="/img/brands/newscorp.png" alt="newscorp" class="brands_image">
                    <img src="/img/brands/onemedical.png" alt="onemedical" class="brands_image">
                    <img src="/img/brands/sonos.png" alt="sonos" class="brands_image">
                    <img src="/img/brands/target.png" alt="target" class="brands_image">
                    <img src="/img/brands/uber.png" alt="uber" class="brands_image">
                    <img src="/img/brands/us-affairs.png" alt="us-affairs" class="brands_image">
                   </div>
                </div>
            </section>
            <section class="page_section page_section_light">
                <div class="page_content feature_section">
                    <div class="feature_info">
                        <h3 class="feat_title">Work more easily with everyone</h3>
                        <p class="feat_text">Stay on the same page and make decisions faster by bringing all of your work communication into one place.</p>
                    </div>
                    <div class="feat_list">
                        <div class="feat_card">
                            <span class="icon" style="background-image: url('/svg/feature/connect.svg');"></span>
                            <strong class="feat_card_title">Slack Connect</strong>
                            <p class="feat_card_text">Collaborate with teams at other companies the same way you do with teams at your own.</p>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>
                        <div class="feat_card">
                            <span class="icon" style="background-image: url('/svg/feature/channels.svg');"></span>
                            <strong class="feat_card_title">Channels</strong>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>
                        <div class="feat_card">
                            <span class="icon" style="background-image: url('/svg/feature/huddles.svg');"></span>
                            <strong class="feat_card_title">Huddles</strong>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>
                        <div class="feat_card">
                            <span class="icon" style="background-image: url('/svg/feature/clips.svg');"></span>
                            <strong class="feat_card_title">Clips</strong>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>
                        <div class="feat_card">
                            <span class="icon" style="background-image: url('/svg/feature/canvas.svg');"></span>
                            <strong class="feat_card_title">Canvas</strong>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>
                        <div class="feat_card">
                            <span class="icon" style="background-image: url('/svg/feature/messaging.svg');"></span>
                            <strong class="feat_card_title">Messaging</strong>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>
                        <div class="feat_card">
                            <span class="icon" style="background-image: url('/svg/feature/accessibility.svg');"></span>
                            <strong class="feat_card_title">Accessibility</strong>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>
                    </div>
                    <img class="feat_image" src="/img/img-work-easily.png" alt="vector">
                </div>
            </section>	
            <section class="page_section second_block">
                <div class="page_content second_block">
                    <div class="feat_info_second">
                        <h3 class="feat_info_title">What you need, when you need it</h3>
                        <p class="feat_info_text">Spend less time shuffling tabs with
                            a comprehensive message archive and all your
                            work tools at your fingertips.</p>
                    </div>
                    <div class="feat_list_second">
                        <div class="feat_card">
                            <span class="icon" style="background-image: url('/svg/feature/apps.svg');"></span>
                            <strong class="feat_card_title">Apps and Integrations</strong>
                            <p class="feat_card_text">Streamline work by connecting Slack with other services like
                                Google Drive, Office 365 and over 2,200 more.</p>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>
                        <div class="feat_card">
                            <span class="icon" style="background-image: url('/svg/feature/builder.svg');"></span>
                            <strong class="feat_card_title">Workflow Builder</strong>
                            <p>Automate routine actions and communication, so you can get
                            back to the kind of work only humans can do.</p>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>
                        <div class="feat_card">
                            <span class="icon" style="background-image: url('/svg/feature/search.svg');"></span>
                            <strong class="feat_card_title">Search</strong>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>
                        <div class="feat_card">
                            <span class="icon" style="background-image: url('/svg/feature/sharing.svg');"></span>
                            <strong class="feat_card_title">File sharing</strong>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div> 
                    </div>
                    <img class="feat_image_second" src="/img/whatneed.jpg" alt="need">
                </div>
            </section>
            <section class="page_section review">
                <img class="img_review" src="/img/img-deliveroo.jpg.png" alt="bycicle">
                <div class="review_info">
                    <strong class="review_text">“The thing that keeps us connected
                    the most is Slack. It’s a very immediate and straightforward
                    method of communication, and really the only channel that people
                    prefer and enjoy using.”</strong>
                    <img class="review_image_brand" src="/svg/feature/deliveroo.svg" alt="">
                    <p class="review_author">Will Sprunt, CIO, Deliveroo</p>
                </div>
            </section>
            <section class="page_section explore">
                <div class="exp_title">
                    <h3>Explore more about working in Slack</h3>
                </div>
                <div class="list_exp_card">
                    <div class="exp_card">
                        <img src="/img/figure.c-promo__media.png" alt="img">
                        <div class="exp_card_body">
                            <div class="exp_text">
                                <p class="chapter">Slack Tutorials</p>
                                <strong class="exp_card_title">Slack 101</strong>
                            </div>
                            <div class="exp_links">
                                <a href="#" class="exp_card_link">Learn more</a>
                                <a href="#" class="icon icon_arrow click feat_link"></a>
                            </div>   
                        </div>
                        
                    </div>
                    <div class="exp_card">
                        <img src="/img/2people.png" alt="img">
                        <div class="exp_card_body">
                            <div class="exp_text">
                                <p class="chapter">Slack vs. Email</p>
                                <strong class="exp_card_title">An easier, more
                                organized way to work</strong>
                            </div>
                           <div class="exp_links">
                                <a href="#" class="exp_card_link">Learn more</a>
                                <a href="#" class="icon icon_arrow click feat_link"></a>
                            </div> 
                        </div>
                    </div>
                    <div class="exp_card">
                    <img src="/img/promo__media.png" alt="img">
                    <div class="exp_card_body">
                        <div class="exp_text">
                            <p class="exp_card_chapter">Customer Stories</p>
                            <strong class="exp_card_title">How Fastly uses Slack
                            Connect to wow enterprise customers</strong>
                        </div>
                        <div class="exp_links">
                            <a href="#" class="exp_card_link">Learn more</a>
                            <a href="#" class="icon icon_arrow click feat_link"></a>
                        </div>  
                    </div>
                    
                    </div>
                </div>
            </section>
        </div>
	</body>

</html>

