
{{#each news}}
<div class="card_news">
    <h3 class="news_title">{{title}}</h3>
    <div>
        <em class="news_date">{{date}}</em>
        <em class="news_author">{{author}}</em>
    </div>
    <p class="news_text">{{description}}</p>
    <a href="#">Continue reading</a>
</div>
{{/each}}